
#galleryView{
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
width: 70%;
height: 70%;
align-self: center;
justify-self: center;
}
#gallery_viewPort
{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#gallery_image_container{

}
#gallery_image
{
    object-fit: contain;
    width: 100%;
}
