.BlogContainer
{
 list-style: none;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: calc(var(--gap)*2);
 padding: 0;
}
.BlogContainer>li{
    width: inherit;
}
#tabledatacolumn{
 padding: 5px;
 font-size: 0.85rem;
}
#table{
    text-align: center;
    row-gap: 5px;
    font-size: 0.95rem;
    width: fit-content;
    border: 1px solid var(--bordeColor);
}