.SkillList{
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    padding: var(--padding);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}