#Contact_card
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: fit-content;
  padding: 10px;
  margin: 50px;
  border-radius: 2.5%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px var(--panelColor);
  background-color: var(--panelColor);

}
#contact_connect
{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap:20px
}
#contact_form
{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap:25px;
  justify-content:center;
  align-items: center;
}
#contact_label_value{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px;
  width: 100%;
  margin: 0;
}
#contact_label_value > label{
  color: var(--color);
  font-weight: 700;
  text-transform: uppercase;
width: min-content;
}
#contact_label_value > input, #contact_label_value > textarea {
  width: 100%;
  min-height: 30px;
}
