@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleHeld
{
    /* opacity: 0; */
    padding-left: 20px;
    padding-right: 20px;
    /* animation: fadeIn 1s ease-out forwards; */
}
#profilePic{
    /* opacity: 0; */
    width: 60%;
    aspect-ratio: 1;
    /* animation: fadeIn 1s ease-out 0.5s forwards; */
}
#introContainer
{
    
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: center;
    text-transform:none;
    color: var(--color);
    line-height: 1.5;
    font-size: 1.25rem;
}
#introContainer>p{
    width: 50%;
}
#introRedirectButtons
{
    /* opacity: 0; */
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
margin: 25px;
justify-content: center;
align-items: center;
/* animation: fadeIn 1.5s ease-out 1s forwards; */
}


@media screen and (min-width:625px) {
 
#profilePicContainer
{
    width: 600px;
    margin-top: var(--componentgap);
    height: calc(.55*600px);
    background-color: var(--panelColor);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    margin-bottom: var(--componentgap);
} 
}
@media screen and (max-width:624px) {
 
    #profilePicContainer
    {
        margin-top: var(--componentgap);
        display: flex;
        width: 300px;
        height: calc(.55*300px);
        background-color: var(--panelColor);
        border-radius: 20px;
        justify-content: center;
        align-items: flex-end;
        overflow: visible;
    }
    
}
