
.container {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleHeld
{
    padding-left: 20px;
    padding-right: 20px;
}
#profilePic{
    width: 60%;
    aspect-ratio: 1;
}
#introContainer
{
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    gap:25px;
    justify-content: center;
    position: relative;
}
#introRedirectButtons
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
margin: 25px;
justify-content: center;
align-items: center;
}


@media screen and (min-width:625px) {
 
#profilePicContainer
{
    width: 600px;
    margin-top: var(--componentgap);
    height: calc(.55*600px);
    background-color: var(--panelColor);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    margin-bottom: var(--componentgap);
} 
}
@media screen and (max-width:624px) {
 
    #profilePicContainer
    {
        margin-top: var(--componentgap);
        display: flex;
        width: 300px;
        height: calc(.55*300px);
        background-color: var(--panelColor);
        border-radius: 20px;
        justify-content: center;
        align-items: flex-end;
        overflow: visible;
    }
    
}
