:root{
    --buttonpadding:10px;
    --bgColor:gray;
    --color:black;   
    --bordercolor:white;
    --navbarheight:75px;

    
    }
    #ScrollTo{
        scroll-margin-top: var(--navbarheight);
    scroll-behavior:smooth;
    }