
@font-face {
  font-family: "Interphase";
  src:url('./Assets/Other/Interphase.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
body {
  margin: 0;
  width: 100%;
  font-family: "Interphase";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Interphase";
}
